div class="recipes-search-filters col-md-6 col-sm-5 col-xs-12"
  div class="btn-group" role="group" aria-label="..."
    = link_to_recipes_filter(Home::Params::LATEST_FILTER)
    = link_to_recipes_filter(Home::Params::MY_RECIPES_FILTER)
