/ # TODO: Create a component/helper and improve the layout according to the variant
= link_to url_for(params.to_unsafe_hash.merge!(locale: I18n.locale == :en ? :"pt-BR" : :en)), data: {locale: true} do
  = t('.call_to_action_html'.freeze)
